body, html{
    height: 100%;
}

.bg {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

h1{
    color: #fff;
    clear: both;
}

figure{
    height: 125px;
    width: 160px;
    border-color: #2ca00e;
    border-style: solid;
    border-width: 2px;
    float: left;
    text-align: center;
    background-color: #fff;
}

img{
    width: 80%;
    height: 70%;
    
}

p {
    clear: both;
}

button {
    float: left;
    clear: both;
}

.defender{
    height: 150px;
}

button{
    clear: both;
}

.defeated{
    visibility: hidden;
}